@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
body{
    padding:0;
    margin:0;
    background-color: #FAF8F8;  
    font-family: "poppins"; 
    /* font-size: 32px; */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

#resend{
    font-size: 16px;
    cursor: pointer;
    height: 24px;
    margin: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

#resend img{
   height: 24px;
   margin-right: 5px;
}

.form{
    text-align: center;
    display: block;
    margin: auto;
    background: white;
    width: 90%;
    max-width: 730px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5%;
    padding-top: 1.8rem;
    -webkit-filter: drop-shadow(0px 20px 40px rgba(76, 152, 42, 0.12));
            filter: drop-shadow(0px 20px 40px rgba(76, 152, 42, 0.12));
}

.personal-info > p{
    font-size: 21px;
}

.userInput{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width:100%;
    line-height: 48px;
    font-size: 32px;  
    font-weight: 500;
    margin-top: 5rem;
}

.single-input {
    width: 13%;
    height: 5rem;
    font-size: 24px;
    text-align: center;
    border: none;
    background-color: #eee4e4; 
}

.form button{
    background: #05911D;
    color: white;
    border-radius: 15px;
    width: 90%;
    max-width: 480px;
    border: none;
    margin: 80px auto 30px auto;
    padding: 20px;
    font-size: 32px;
}

@media (max-width:480px) {
    .single-input {
        width: 12%;
        height: 3rem;
        font-size: 18px;
    }
    
    .form button{
        font-size: 28px;
    }
}
@media (max-width:320px) {
    .single-input {
        height: 2.2rem;
    }

    h1{
        font-size: 32px;
    }
}